@model List<Waggle.Models.Forum>

@{
    ViewBag.Title = "Index";
}

<h2>Forum List</h2>
@if (User.IsInRole("admin"))
{
    <h3>@Html.ActionLink("Create Forum", "CreateForum", "Forum")</h3><br /><br />
}


@foreach (Waggle.Models.Forum f in Model)
{
    if (!f.IsDeleted && User.IsInRole("admin"))
    {
        @Html.ActionLink(f.Name, "Index", "Topic", new { ForumId = f.ForumId }, new { @style = "font-size:1.2em" })
    <br/>
        @f.Description 
     <br />
        @Html.ActionLink("Edit", "EditForum", "Forum", new { ForumId = f.ForumId }, new { @style = "font-size:.8em"})
        @Html.ActionLink("Delete", "DeleteForum", "Forum", new { ForumId = f.ForumId }, new { @style = "font-size:.8em" })
        <br /> <br />
    }
    else if (!f.IsDeleted && !User.IsInRole("admin"))
    {
        if (!f.IsPrivate || (f.IsPrivate && f.isUserPermited(WebSecurity.CurrentUserId))) {
            @f.Description <br />  <br />
            @Html.ActionLink(f.Name, "Index", "Topic", new { ForumId = f.ForumId }, null) <br />
        }

    }
}

@if (User.IsInRole("admin"))
{
    <h3>Admin View: List of deleted forums</h3>
    <br/>
    foreach (Waggle.Models.Forum f in Model)
    {

        if (f.IsDeleted)
        {
            @Html.ActionLink(f.Name, "Index", "Topic", new { ForumId = f.ForumId }, new { @style = "font-size: 1.2em; color: red" })
    
    <br/>
    @f.Description 
    <br />
            @Html.ActionLink("Undelete", "UndeleteForum", "Forum", new { ForumId = f.ForumId }, new { @style = "font-size:.8em" })
            <br /> <br />
        }
    }

}