@model Waggle.ViewModels.PostList

@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Home", "Index", "Forum") > @Html.ActionLink(Model.ForumName, "Index", "Topic", new { ForumId = @Model.ForumId }, null) > @Model.TopicName</h2>
<h3>@Html.ActionLink("Create Post", "CreatePost", "Post")</h3><br /><br />
@foreach (Waggle.Models.Post p in Model.Posts)
{
    @p.Body <br /><br />
}